
      <div *ngIf="item" class='article-content'>


        <md-card class="article-title" [innerHTML]='item.title'></md-card>
  			<div class="article-title">
          <!-- conditional display of class -->
            <div *ngIf="item.organization" class='article-title-moreinfo'>
            <span >{{'calendar.organizationlabel' | translate}} : </span>
            <span > {{item.organization}}</span>

            </div>
  			</div>

        <div [innerHTML]="item.description | br" class="article-description"></div>

        <div *ngIf="item.location" >{{'calendar.location' | translate}} : {{item.location}}</div>

        <div *ngFor="let attachment of item.attachments">
          <a [href]="attachment.url" [innerHTML]="attachment.title"></a> <span [innerHTML]="attachment.description"></span>
        </div>

        <div *ngFor="let image of item.images">
          <img [src]="image.url" [alt]="image.title">
        </div>



    </div>
