
      <div *ngIf="item" class='article-content'>

  			<div class="article-title">
  				{{item.title}}
          <!-- conditional display of class -->

            <div *ngIf="item.organization && (item.organization.indexOf(localregion) == -1)" class='article-title-moreinfo alternate-title' >{{i18n.organizationlabel}}: {{item.organization}}</div>
            <div *ngIf="item.organization && (item.organization.indexOf(localregion) > -1)" class='article-title-moreinfo'>{{i18n.organizationlabel}}: {{item.organization}}</div>

  			</div>



        <div [innerHTML]="item.description | br"></div>

        <div *ngIf="item.location">
          {{i18n.location}} : {{item.location}}
        </div>
    </div>