.feed-article {
  color: white;
  margin: 0.2em;
  padding: 0.2em;

}
.feed-article:hover {
  cursor: pointer;
}

.calendar-time-line-container {
  display: block;
}

.calendar-time-line-event {
    float: left;

}
.clearBoth { clear:both; }

.feed-subtitle {
  font-size: 0.7em;
}
.calendar-icon {
  font-size: 1em;
}


.yearline {
  background-color: #E0E0E0;
}


.monthline {
  background-color: #E9E9E9;
  text-align: center;
}

@media (prefers-color-scheme: dark) {

  .monthline {
    color: red;
    background: rgb(33, 33, 33);
  }
}

.dayline {
  font-size: 0.8em;
}
.endofweekline {
  border-bottom: 1px solid #ddd;
  font-size: 0.8em;

}



/*
* custom styles for table
*/

.cellBody {
  height: 100%;
  width: 100%;
}

.dayCell {
  font-size: 0.75em;
  height: 3em;
  width: 14.2857%;

}



.monthCell1 {
  background-color: pink;
}

.monthCell2 {
  background-color: yellow;
}
