
<div class='calendarevent-container'>

  <div *ngIf='item' class='article-title theme-primary'>
    <div>
      <i class="bi bi-calendar-event"></i>
      <span>{{item.date | localedate}} </span><span *ngIf='item.enddate && item.enddate !== item.date'> - </span><span *ngIf='item.enddate && item.enddate !== item.date' >{{item.enddate | localedate}} </span> : <span class='feed-subtitle'>{{item.activity | uppercase}}</span>
    </div>
  </div>

  <div *ngIf='item' class='shadow'>
      			<div  class='article-title theme-primary shadow'>
              <span >{{item.title}}</span>
            </div>
            <div  *ngIf='item.organization' class='article-subtitle article-title-moreinfo'>
                <span class='article-title-moreinfo'> {{item.organization}}</span>
      			</div>



        <div class='article-description-container'>


          <div *ngIf='item.format === "bbcode"'  class='card-text' [innerHTML]='item.description | bbcode'> </div>
          <div *ngIf='item.format !== "bbcode"'  class='card-text' [innerHTML]='item.description'> </div>

          <div *ngIf='item.location'><i class="bi bi-geo-alt"></i> {{item.location}}</div>

          <!-- media -->

          <app-attachments *ngIf='item.media || item.attachments' recorduri='{{getRecordUri()}}' [attachments]='getAttachments()'></app-attachments>
          <app-imagelist *ngIf='item.media || item.images' recorduri='{{getRecordUri()}}' [images]='getImages()' ></app-imagelist>



        </div>

    </div>

<div>
