
/* element */
.article-content {
  /*additional border: add a thicker aspect*/
  border-width: 1px 1px 1px 1px ;
  border-style: solid;

  /* spacing between article-content  */
	margin-bottom: 1em;
  /* small decorating border */
	border-color: #ddd;
	color: #333;
  background: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.article-description {
	margin: 0.5em;
}


/* title */

.article-title {
	background-color: #e9e9e9;
	font-weight: bold;
  padding: 1.5em;
}


.article-subtitle {
    font-size: 0.8em;
}

.article-title-moreinfo {

  text-align: right;
/*  float: right;
  */
}


/* alternate display of a title */
.alternate-title {
	color: #0070C0;
}
