.monthdaycell {
  font-size: 0.75em;
}
.monthtable {
  width: 10%;
}

.weekend {
  background-color: #E8E8FF;
}

.activitycolor1 {
  background-color: #52302C;
}

.activitycolor2 {
  background-color: #F0F1F1;
}

.activitycolor3 {
  background-color: #9A3820;
}
