.monthdaycell {
  font-size: 0.75em;
}


.weekend {
  background-color: #E8E8FF;
}

.activitycolor1 {
  background-color: #52302C;
}

.activitycolor2 {
  background-color: #F0F1F1;
}

.activitycolor3 {
  background-color: #9A3820;
}

.monthtable {
 display: flex;
  width: 100%;
}

.yearheading {
  width: 100%;
  text-align: center;
}

@media all and (min-width: 55em) {
	.monthtable {
  display: table-cell;
		width: 10em;
	}
}
