<div class='calendarflexcontainer'>

<div class='monthtable' *ngFor='let month of months; let i=index'>

<div class="divTable">

  <div class='divTableHeading'>
    <div class='divTableHead dayCell'>{{month.name}} <span *ngIf='month.number === 0 || i === 0'>{{month.year}}</span></div>

  </div><!-- divTableHeading -->
<div class="divTableBody">
<div class='divTableRow' *ngFor='let day of month.days'>
  <div class='divTableCell monthdaycell' >
        <div [class]='"cellBody " + getDayOfMonthStyle(day.date.getDay())'>
        <span>{{day.number}}</span>
        <span>{{day.name}}</span>

        <span *ngIf='day.items.length > 0' >


    <app-calendar-time-line-button *ngFor='let currentItem of day.items' [item]="currentItem" [activities]="activities"></app-calendar-time-line-button>

  </span>
    </div>
  </div><!-- divTableCell -->
</div><!-- divTableRow -->
</div><!-- body -->
</div><!-- table -->


</div>
</div>
