<div class='flexcontainer'>

<div class='monthtable' *ngFor='let month of months; let i=index'>

<div class="divTable">

  <div class='divTableHeading'>
    <div class='divTableHead dayCell'>{{month.name}} <span *ngIf='month.number === 0 || i === 0'>{{month.year}}</span></div>

  </div><!-- divTableHeading -->
<div class="divTableBody">
<div class='divTableRow' *ngFor='let day of month.days'>
  <div class='divTableCell monthdaycell' >
        <div [class]='"cellBody "  + getDayOfMonthStyle(day.date.getDay())'>
        <span [innerHTML]='day.number'></span>
        <span [innerHTML]='day.name'></span>

        <span *ngIf='day.items.length > 0' >
    <div *ngFor="let currentItem of day.items" [class]='"feed-article shadow " + getCssColor(currentItem.activity)' [routerLink]='getUrl(currentItem)'>
      <span class='calendar-icon' [innerHTML]='getItemTitleMonthFormat(currentItem)'></span>
    </div>

  </span>
    </div>
  </div><!-- divTableCell -->
</div><!-- divTableRow -->
</div><!-- body -->
</div><!-- table -->


</div>
</div>
