.monthdaycell {
  font-size: 0.75em;
}

@media (prefers-color-scheme: light) {
  .weekend {
    background-color: #E8E8FF;
  }
}

@media (prefers-color-scheme: dark) {
 .weekend {
    background-color: black;
  }
}


.monthtable {
flex: 1 1 100%;
}

.calendarflexcontainer {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 }

.yearheading {
  text-align: center;
}

@media all and (min-width: 55em) {
	.monthtable {

		flex: 1 1 20em;
	}
}


/* https://stackoverflow.com/questions/3839809/detect-iphone-ipad-purely-by-css#3839896 */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .calendarflexcontainer {
    flex:none;
    display: table;
    width: 20em;
  }
  .monthtable {
    flex:none;
    width: 20em;
  }
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
  .calendarflexcontainer {
   flex:none;
   display: table;
    width: 20em;
  }
  .monthtable {
    flex:none;
    width: 20em;
  }
}

/*
* different colors by activity
*/

.activitycolor0 {
  background-color: #BF360C;
}

.activitycolor1 {
  background-color: #880E4F;
}

.activitycolor2 {
  background-color: #4A148C;
}

.activitycolor3 {
  background-color: #9A3820;
}

.activitycolor4 {
  background-color: #9C27B0;
}

.activitycolor5 {
  background-color: #673AB7;
}

.activitycolor6 {
  background-color: #01579B;
}

.activitycolor7 {
  background-color: #006064;
}

.activitycolor8 {
  background-color: #004D40;
}

.activitycolor9 {
  background-color: #212121;
}

