

<div *ngIf="!activity" >

  <div class='flexcontainer'>
  <div class='flexfeedcontainer'>
    <div *ngFor="let activityLink of activityObjectList">
     <app-activitybutton [activity]='activityLink'></app-activitybutton>
    </div>
  </div>
  <div class='flexmaincontent'>
    <app-calendar-time-line-month></app-calendar-time-line-month>
  </div>
</div>

</div>

<div  *ngIf="activity" class='article-list'>
    <app-my-calendar-list [activity]='activity'></app-my-calendar-list>
</div>
