



  <div *ngIf="item" class='article-content'>
    			<md-card  (click)="showArticle()" class='article-title'>
            <span [innerHTML]="item.title"></span><span *ngIf='!active'>[...]</span>
          </md-card>




      <div *ngIf='active' >
        <div [innerHTML]="item.description | br" class="article-description"></div>

        <div *ngFor="let attachment of item.attachments">
          <a [href]="attachment.url" [innerHTML]="attachment.title"></a>
        </div>

        <div *ngFor="let image of item.images">
          <img [src]="image.url" [alt]="image.title">
        </div>


      </div>

  </div>
