.my-social-links {
  color: white;
}

.my-social-logo {
  height: 1em;
}

.my-social-bar {
  display: inline-flex;
  height: 1em;
}

.my-social-link {
  height: 1em;
  padding: 0em 0.5em 0em 0.5em;
}
