

@media all and (max-width: 28.999999em) {
	.homepagecontainer {
		display: flex;
		flex-direction: column;
	}

  .maincontent {
		width: 100%;

  }
	.feedcontainer {
		width: 100%;

  }
}


	.homepagecontainer {
		display: flex;
		flex-direction: column;
	}

  .maincontent {
		width: 100%;
  }

  .feedcontainer {
		width: 100%;
  }


@media all and (min-width: 55em) {
	.homepagecontainer {
		display: flex;
		flex-direction: row;
	}

  .maincontent {
	width: 80%;
	order:1;
  }
  .feedcontainer {
		width: 20%;
		order:2;
  }

}


/**/

.expand-title{
	background-color: #e9e9e9;
	font-weight: bold;
	text-align: center;
	height: 3em;
	margin: 1em;
}
.expand-title:hover {
background-color: #E0E0E0;
	cursor: pointer;
}
