
.article-content {
  /*additional border: add a thicker aspect*/
  border-width: 1px 1px 1px 1px ;
  border-style: solid;

  /* spacing between article-content  */
	margin-bottom: 1em;



}


@media (prefers-color-scheme: dark) {
  .article-content {
    border-color: rgb(66, 66, 66);
    }
}


@media (prefers-color-scheme: light) {

  .article-content {
	color: #333;
  background: white;
  /* small decorating border */
	border-color: #ddd;
  }
}

.article-description {
  padding: 0.2em;
}

.article-description-container {
  padding: 0.2em;
}

.article-subtitle {
  font-size: 0.7em;
  color: #333;
}

.article-title {
	font-weight: bold;
  padding: 0.7em;
}

.article-title-moreinfo {
  text-align: right;
  padding-right: 1em;
}
