<div *ngIf='item' class='article-content article-preview-content'   routerLink='{{url}}'>
  <div class='article-title my-mat-button-dark' >
    <div >{{item.date | localedate}} {{item.activity | uppercase}}</div>
    <span >{{item.title}}</span>
  </div>

  <div class='article-subtitle'>{{item.activity | uppercase}} - {{item.date | localedate}}</div>


  <div class='article-previewdescription-container' *ngIf='image'>
    <div class='thumbnail-container' *ngIf='image'>
      <img src='{{getThumbnail(image)}}' alt='{{image.title}}' >
    </div>
    <div class='article-previewdescription description-and-thumbnail' [innerHTML]='getPreviewDescription() | bbcode'></div>

  </div>

  <div class='article-previewdescription-container' *ngIf='!image'>
    <div class='article-previewdescription' [innerHTML]='getPreviewDescription() | bbcode'></div>
  </div>

</div>
