<div *ngIf='item' class='card shadow'>
  <article>
    <div class='card-header'>
      <h5 class='card-title'>{{item.title}}</h5>
    </div>
    <div *ngIf='item.organization' class='card-subtitle mb-2'>
      <span>{{item.organization}}</span>
    </div>

    <div class='card-body'>
      <div *ngIf='item.activity && item.date' class='card-subtitle mb-2 '>{{item.activity | uppercase}} {{item.date | localedate}}</div>

        <div *ngIf='item.format === "bbcode"'  class='card-text' [innerHTML]='item.description | bbcode'> </div>
        <div *ngIf='item.format !== "bbcode"'  class='card-text' [innerHTML]='item.description'> </div>




        <div *ngIf='item.location'> {{item.location}}</div>

        <!-- media -->
        <app-attachments *ngIf='item.media || item.attachments' recorduri='{{getRecordUri()}}' [attachments]='getAttachments()'></app-attachments>
        <app-imagelist *ngIf='item.media || item.images' recorduri='{{getRecordUri()}}' [images]='getImages()' [lazyload]='lazyload'></app-imagelist>
        <app-videolist *ngIf='item.media || item.attachments' recorduri='{{getRecordUri()}}' [videos]='getVideos()'></app-videolist>
      </div>
    </article>
  </div>