<div *ngIf='item' class='article-content article-preview-content'   [routerLink]='url'>
  <div class='article-title my-mat-button-dark' >
    <div >{{item.date}} {{item.activity}}</div>
    <span [innerHTML]='item.title'></span>
  </div>




  <div class='article-description'>
    <div class='article-subtitle'>{{item.activity}} - {{item.date}}</div>
      <div [innerHTML]='getPreviewDescription()'  class='article-previewdescription'></div>

    <div class='thumbnail-container' *ngIf='image'>
      <img [src]='getThumbnail(image)' [alt]='image.title' >
    </div>

  </div>


</div>
