<div *ngIf='item'  class='card shadow'  routerLink='{{url}}'>


  <div class='card-header'>
    
    <a class=" btn btn-dark" href="{{url}}"><h5 >{{item.title}}</h5></a>
  </div>

  <div class='article-subtitle'>{{item.activity | uppercase}} - {{item.date | localedate}}</div>


  <div class='article-previewdescription-container' >
    <div class='thumbnail-container' *ngIf='image'>
      <img src='{{getThumbnail(image)}}' alt='{{image.title}}' >
    </div>
    <div *ngIf='item.format === "bbcode"' class='card-text' [innerHTML]='getPreviewDescription()  | bbcode'></div>
    <div *ngIf='item.format !== "bbcode"' class='card-text' [innerHTML]='getPreviewDescription()'></div>

  </div>


</div>
