
<div *ngIf="item" [class]='"article-content"'>
    			<div  [class]='"article-title"'>
            <span [innerHTML]="item.title"></span>
          </div>




      <div [class]='"article-description"'>
       <div *ngIf="item.activity && item.date" [class]='"article-subtitle"' [innerHTML]='item.activity + " - " + item.date'></div>

        <div [innerHTML]='item.description | br'></div>

        <!-- media -->

        <app-attachments *ngIf='item.media || item.attachments' [attachments]='getAttachments()'></app-attachments>
        <app-imagelist *ngIf='item.media || item.images' [images]='getImages()'></app-imagelist>



      </div>

  </div>
