.article-previewdescription-container {
      align-content: flex-start;
      display: flex;
      flex-direction: row;
}

.thumbnail-container {
  margin-right: 16px;
  display: block;
  min-width: 80px;
  max-width: 144px;
  overflow: hidden;
}

.thumbnail-container img {
  height: auto;
}

.article-previewdescription {

  display: inline-block;
}

@media (prefers-color-scheme: light) {

  .article-previewdescription {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ddd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {

  .article-previewdescription {
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(rgb(66,66,66)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.description-and-thumbnail {
  width: 80%;
}
