<!-- attachments -->
<div *ngIf='attachments && attachments.length > 0' class='list-group'>
  <div *ngFor='let attachment of attachments' class='list-group-item'>
    <a *ngIf='attachment.url' href='{{attachment.url}}' class='d-flex align-items-center'>
      <span *ngIf='attachment.thumbnails' class='mr-3'>
        <img src='{{getDefaultImage(attachment)}}' srcset='{{getThumbnailSrcSet(attachment)}}' alt='{{attachment.title}}' class='img-thumbnail' sizes='(min-width: 55em) 10vw, 20vw'>
      </span>
      {{attachment.title}}
    </a>
  </div>
</div>