<div *ngIf="!activity">

  <h3>{{i18n.title}}</h3>



  <div *ngFor="let activityLink of activityObjectList">
    <button md-button routerLink="/clubs/{{activityLink.name}}" class='my-activity-button'>{{activityLink.name | uppercase}}
    <img class="fill-img" *ngIf="activityLink.logo" src="public/activities/{{activityLink.name}}/{{activityLink.logo}}" alt="{{activityLink.name | uppercase}}"
            title="{{activityLink.name | uppercase}}"></button>
  </div>


</div>


<div *ngIf="activity">
  <my-clubs-list [activity]='activity'></my-clubs-list>
</div>