<div class='article-list'>
<div *ngIf='!activity'>

  <h3 [innerHTML]='i18n.title'></h3>



  <div *ngFor='let activityLink of activityObjectList'>
    <button md-button [routerLink]='"/clubs/"  +  activityLink.name' class='my-activity-button'>
    <span [innerHTML]='activityLink.name | uppercase'></span>
    <img class='fill-img' *ngIf='activityLink.logo' [src]='"public/activities/"  +  activityLink.name  +  "/"  +  activityLink.logo'   [alt]='activityLink.name' [title]='activityLink.name | uppercase'>
    </button>
  </div>


</div>


<div *ngIf='activity'>
  <app-my-clubs-list [activity]='activity'></app-my-clubs-list>
</div>

</div>
