.buttons {
   text-align: center;
 }
 button {
   padding: 1.5em 3em;
 }

 body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

button {
  opacity: 0.87;
}

button.btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}

.input-group-btn button.btn {
  padding-top: 2px;
  padding-bottom: 3px;
}

button.btn.disabled,
button.btn[disabled] {
  color: #FFFFFF;
  background-color: #000000;
}
.btn.btn-primary:not(.disabled):not([disabled]):hover,
.btn.btn-primary:not(.disabled):not([disabled]):focus {
  color: #000000;
  background-color: #EEEEEE;
}
.btn.btn-default:not(.disabled):not([disabled]):hover,
.btn.btn-default:not(.disabled):not([disabled]):focus {
  color: #000000;
  background-color: #EEEEEE;
}
button.btn.disabled:hover,
button.btn[disabled]:hover,
button.btn.disabled:focus,
button.btn[disabled]:focus {
  color: #FFFFFF;
  background-color: #000000;
}
