


/* liste */
.article-list {

  /* global border around article-list */
  border-width: 1px 1px 1px 1px;
  border-color: #ddd;
  border-style: solid;
  /* spacing between article-list and border */
  padding: .7em 0.7em;
}



/* element */
.article-content {
  /*additional border : add a thicker aspect*/
  border-width: 1px 0 0 0;
  border-style: solid;

  /* spacing between article-content  */
	margin-bottom: 1em;
  /* small decorating border */
	border-color: #ddd;
	color: #333;

}


