      <div *ngIf='item' class='article-content shadow' >
    			<div class='article-title article-title-decoration shadow' >
            <a *ngIf='item.url' target='_blank' href='{{item.url}}' title="{{item.url}}"  class="club-website">{{item.title}} <i class='material-icons'>open_in_new</i></a>
            <span *ngIf='!item.url' class="">{{item.title}}</span>
            </div>
            <div class='article-description-container'>
          <div  [innerHTML]='item.description ' class='article-description'>
           </div>
           </div>
      </div>
