.menu-content {
    
}

.slidemenu-button {
width: 100%;
text-align: left;
}

.slidemenu-button-icon {
font-size: 2em;

}

.slidemenu-button-text {
font-size: 2em;

}

.top-menu-bar {
  box-shadow: 5px 5px 10px 0px #656565;
}

.top-menu-icon {
  width: 1em;
  height: auto;
  font-size: 1.5em;  
}






.top-menu-title {
  font-size: 1.5em; 
}


.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
