<md-sidenav-container class="appcomponent">

  <!-- slide menu -->

  <md-sidenav #sidenav [mode]='this.menuMode' [opened]='menuOpened' class='slidemenu'>
    <nav>
      <div class='buttonseparator'></div>
      <div *ngFor="let menu of menuItems">
        <app-menubutton *ngIf='menuMode !== "over"' [item]='menu'></app-menubutton>
        <app-menubutton *ngIf='menuMode === "over"' [item]='menu' (click)='sidenav.close()'></app-menubutton>
        <div class='buttonseparator'></div>
      </div>

    </nav>
  </md-sidenav>


  <!-- container -->
  <div class="my-content">


    <div class='top-menu-bar'>

    <button *ngIf='!menuOpened' md-button (click)='sidenav.open()' class='top-menu-icon'>
    <i class="material-icons">menu</i>

    </button>

      <button md-button [routerLink]='"/"' ><h1 class='top-menu-title'>{{title}}</h1></button>

    </div>



    <!-- content -->
    <router-outlet></router-outlet>

  </div>


</md-sidenav-container>
