<md-sidenav-container class="appcomponent">

  <!-- slide menu -->

  <md-sidenav #sidenav [mode]='this.menuMode' [opened]='menuOpened' class='slidemenu'>
    <nav>
      <div *ngFor="let menu of menuItems">
        <app-menubutton *ngIf='menuMode !== "over"' [item]='menu'></app-menubutton>
        <app-menubutton *ngIf='menuMode === "over"' [item]='menu' (click)='sidenav.close()'></app-menubutton>

      </div>

    </nav>
  </md-sidenav>


  <!-- container -->
  <div class="my-content">


    <md-toolbar color="primary" class='top-menu-bar'>

    <button *ngIf='!menuOpened' md-button (click)='sidenav.open()' class='top-menu-icon'>
    <md-icon >menu</md-icon>
    </button>

      <h1><button md-button class='top-menu-title' [routerLink]='"/"' >{{title}}</button></h1>

    </md-toolbar>



    <!-- content -->
    <router-outlet></router-outlet>

  </div>


</md-sidenav-container>
