.menu-content {
    
}

.slidemenu-button {
width: 100%;
text-align: left;
}

.slidemenu-button-icon {
font-size: 2em;

}

.slidemenu-button-text {
font-size: 2em;

}


.top-menu-icon {
  padding-right:  0.2em;
  font-size: 1.7em;
}


.top-menu-icon:hover {
  cursor: pointer;
}

.top-menu-title {
  font-size: 1.7em; 
}
.top-menu-title:hover {
  cursor: pointer;
}

.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
