
.slidemenu-button {
width: 100%;
text-align: left;
border-top: 1px solid white; 
color: white;
background-color: #5e7987;

}

.slidemenu-button-icon {
font-size: 1.5em;
}

.slidemenu-button-text {
font-size: 1.5em;

}