<div class='top-menu-bar'>

<div *ngIf='!menuOpened' class='top-menu-icon-container'  (click)='sidenav.open()'>
  <span  class='top-menu-icon'>
    <i class="material-icons">menu</i>
  </span>
</div><!--
--><div class='top-menu-title-container' [routerLink]='"/"'>
  <span  class='top-menu-title'>{{title}}</span>
</div>
</div>
<div class="my-body">

  <app-sidenav #sidenav [mode]='menuMode' [opened]='menuOpened'>

  </app-sidenav>

  <!-- container -->
  <div class="my-content">

    <!-- content -->
    <router-outlet></router-outlet>

  </div>

</div>
