
<div class='top-menu-bar'>

<div >
  <span *ngIf='menuMode === "over"' class='top-menu-icon'>
    <i class="material-icons" (click)='sidenav.open()'>menu</i>
  </span>
</div><!--
--><div [class]='"top-menu-title-container my-mat-button" + getTopMenuTitleCss()' [routerLink]='"/"'>
  <span  class='top-menu-title'>{{title}}</span>
</div>
</div>


<div class="my-body">

  <app-sidenav #sidenav [mode]='menuMode' [opened]='menuOpened'></app-sidenav>



  <!-- container -->
  <div class="my-content">
    <!-- display banner only on home page  -->
    <app-my-banner></app-my-banner>

    <!-- content -->
    <router-outlet></router-outlet>

  </div>

</div>
