
.slidemenu-button {
  text-decoration: none;
  width: 100%;
}



.slidemenu-button-icon {
padding-right: 0.2em;
}



.slidemenu-button-text {
font-weight: 500;
font-size: 1.1em;

}

@media all and (min-width: 55em) {

.slidemenu-button-icon {
font-size: 1.25em;
}



.slidemenu-button-text {
font-size: 1.25em;
}

}
