.slidemenu-button-container {
  display: block;
  line-height: 2.25em;
  width: 100%;
}


.slidemenu-button {
  color: white;
  text-decoration: none;
  width: 100%;
}

.slidemenu-button-icon {
  font-size: 0.94em;
}

.icon-container {
  margin: 0 1em 0 1em;

}

.slidemenu-button-text {
  font-size: 0.94em;
  font-weight: 500;
  text-decoration: none;
}
