

<div class='top-menu-bar theme-dark'>

  <!-- burger menu icon -->
  <div (click)='sidenav.expandMenu()' >
    <span class='top-menu-icon-container my-mat-button-darker' >
      <i class='material-icons'>menu</i>
    </span>
  </div>

  <!-- title -->
  <div class='top-menu-title-container my-mat-button-darker' routerLink='/'>
    <span class='top-menu-title' >{{title}}</span>
  </div>

</div>


<div class='my-body'>

    <app-sidenav #sidenav [mode]='menuMode' [opened]='menuOpened'></app-sidenav>

  <!-- fading backdrop : close menu on click -->
  <div *ngIf='sidenav.isOverMenuOpened()'  class='my-mat-sidenav-backdrop"' [ngClass]='{"my-mat-sidenav-shown": sidenav.isOpen()}' (click)='sidenav.open()'></div>

  <!-- container -->
  <div class='router-container'>
    <div  class='banner-container'  routerLink='/'>
      <img class='shadow' src='{{bannerurl}}' srcset='{{getBannerSrcSet()}}' alt='' sizes='(min-width: 55em) 60vw, 100vw'>
    </div>
    <!-- content -->
    <main>
    <router-outlet></router-outlet>
    </main>
  </div>

</div>
