<div class='bg-dark'>


<div class='container-fluid'>

    <app-sidenav #sidenav></app-sidenav>

  <!-- fading backdrop : close menu on click -->
  <!-- div *ngIf='sidenav.isOverMenuOpened()'  class='modal-backdrop fade show' [ngClass]='{"show": sidenav.isOpen()}' (click)='sidenav.open()'></div -->
  <div ></div>
  <!-- container -->
  <div class='container-fluid'>
    <div  class='shadow'  routerLink='/'>
      <img src='{{bannerurl}}' srcset='{{getBannerSrcSet()}}' alt='' sizes='(min-width: 55em) 60vw, 100vw'>
    </div>
    <!-- content -->
    <main>
    <router-outlet></router-outlet>
    </main>
  </div>

</div>