
.menu-container {

  background-color: #5e7987;
  box-shadow: 5px 5px 10px 0 #656565;
  z-index: 90;

  transition-duration: .5s;
   transition-timing-function: cubic-bezier(.25, .8, .25, 1);
   transition-property: transform, height;
  height: 50em;

  overflow: hidden;
}

@media all and (max-width: 54.999999em) {
  .menu-container {
    position: absolute;
    z-index: 100;
    top: 0.5em;
    left: 0;
    min-width: 20%;
  }
}

@media all and (min-width: 55em) {
  .menu-container {
    padding-top: 3em;
    position: relative;
  }
}


.buttonseparator {
  border-width: 0.02em 0 0 0;
  border-style: solid;
  border-color: white;
}
