/* top menu bar CSS */
.top-menu-bar {
  box-shadow: 5px 5px 10px 0 #656565;
  display:table;
  font-size: 1.25em;

  text-decoration: none;

  width: 100%;
  z-index: 100;
}

/* web site title */
.top-menu-title-container {
  display: table-cell;
  padding: 0.5em ;
  text-align: left;
  width: 100%;
}

.router-container {
  width:100%;
}


.top-menu-icon-container {
  display: table-cell;
  padding: 0.5em ;
}

.image-auto-width {
  width:100%;
  height: auto;
}


@media all and (min-width: 55em) {
  .top-menu-icon-container {
    display: none;
  }
}

.top-menu-icon {
  height: 100%;
  width: 100%;
}

.top-menu-title {
  font-weight: normal;
}



/* content CSS */
.my-body {
  display: flex;
}



/* backdrop when displaying mobile menu */

.my-mat-sidenav-backdrop {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .5s cubic-bezier(.25, .8, .25, 1);
  visibility: hidden;
  z-index: 80;
}
.my-mat-sidenav-shown {
  background-color: rgba(0, 0, 0, 0.6);
  visibility: visible;
}
