.menu-container {
  box-shadow: 5px 5px 10px 0 #656565;
  height: 100%;
  overflow: hidden;
  transition-duration: .5s;
  transition-property: transform, height;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  width: 13em;
  z-index: 90;
}

.slidemenu-button-container {
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}

@media all and (max-width: 54.999999em) {
  .menu-container {
    left: 0;
    min-width: 20%;
    position: absolute;
    top: 0.5em;
    z-index: 100;
  }
}

@media all and (min-width: 55em) {
  .menu-container {
    min-height: 60em;
    padding-top: 3em;
    position: relative;
  }
}

.buttonseparator {
  border-color: white;
  border-style: solid;
  border-width: 0.07em 0 0 0;
}
