
<div class='article-list'>
<div *ngIf="activity">
 <h3><span>{{ 'clublist.title' | translate }}</span>: <span [innerHTML]='(activity | uppercase)'></span> </h3>

<div>

  <button *ngFor='let dep of departmentObjectList' [value]='dep.code' (click)='displayClubs(dep.code)' class='department-button'>
    <div [innerHTML]='dep.name'></div>

  </button>



</div>

</div>



<div *ngIf="activity  && department ">
  <div class='article-list'>
    <div *ngFor="let club of (clubs | activityfilter: activity | departmentfilter: department)" class='club-content'>
      <app-my-clubdetail-component [id]="club.id"></app-my-clubdetail-component>
    </div>
  </div>
</div>

</div>
