
<div class='article-list'>
<div *ngIf="activity">
  <h3 [innerHTML]='i18n.title + ": " + (activity | uppercase)'></h3>

<md-button-toggle-group #group="mdButtonToggleGroup">
  
  <md-button-toggle *ngFor='let dep of departmentObjectList' [value]='dep.code' (click)='displayClubs(dep.code)'>
    <div [innerHTML]='dep.name'></div>
  </md-button-toggle>


</md-button-toggle-group>

</div>



<div *ngIf="activity  && department ">
  <div class='article-list'>
    <div *ngFor="let club of (clubs | activityfilter:activity | departmentfilter:department)" class='club-content'>
      <my-clubdetail-component [id]="club.id"></my-clubdetail-component>
    </div>
  </div>
</div>

</div>