
.mainloading-icon {
  display: block;
  margin: 0 auto;
}





/* https://stackoverflow.com/questions/3839809/detect-iphone-ipad-purely-by-css#3839896 */



/* Controlling Font Performance with font-display : https://developers.google.com/web/updates/2016/02/font-display */
/*https://fonts.googleapis.com/css?family=Open+Sans*/
/* latin-ext */


/** poi on map */


.poi {
  border-bottom: 1px solid red;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
.poi:hover {
  opacity: 0.75;
}
