/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

/* list */

.article-list {
  /* spacing between article-list and border */
  padding: .7em 0;
}

@media all and (min-width: 55em) {
  /* list */
  .article-list {
    padding: .7em .7em;
  }
}

.mainloading-icon {
  display: block;
  margin: 0 auto;
}

.theme-primary {
  background-color: #5e7987;
  color: white;
}

.theme-light {
  background-color: #8ca8b7;
  color: black;
}

.theme-white {
  background-color: white;
  color: black;
}


.theme-dark {
  background-color: #334d5a;
  color: white;
}

.my-mat-button-lighter {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color .7s cubic-bezier(.25, .8, .25, 1);
}

.my-mat-button-lighter:active {
  background-color: #8ca8b7;
}
.my-mat-button-lighter:hover {
  background-color: #8ca8b7;
}


.my-mat-button-light {
  background-color: #8ca8b7;
  color: black;
  cursor: pointer;
  transition: background-color .7s cubic-bezier(.25, .8, .25, 1);
}

.my-mat-button-white {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color .7s cubic-bezier(.25, .8, .25, 1);
}

.my-mat-button-light:active {
  background-color: #334d5a;
}
.my-mat-button-light:hover {
  background-color: #334d5a;
}

.my-mat-button-white:active {
  background-color: #E0E0E0;
}
.my-mat-button-white:hover {
  background-color: #E0E0E0;
}

.my-mat-button-dark {
  background-color: #5e7987;
  color: white;
  cursor: pointer;
  transition: background-color .7s cubic-bezier(.25, .8, .25, 1);
}

.my-mat-button-dark:active {
  background-color: #8ca8b7;
}
.my-mat-button-dark:hover {
  background-color: #8ca8b7;
}

.my-mat-button-darker {
  background-color: #334d5a;
  color: white;
  cursor: pointer;
  transition: background-color .7s cubic-bezier(.25, .8, .25, 1);
}

.my-mat-button-darker:active {
  background-color: #5e7987;
}
.my-mat-button-darker:hover {
  background-color: #5e7987;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* flex */
.flexcontainer {
  display: flex;
  flex-direction: column;
}

/* display feed items first*/

.flexfeedcontainer {
  order: 1;
}

.flexmaincontent {
  order: 2;
}

@media all and (min-width: 55em) {
  .flexcontainer {
    flex-direction: row;
  }
  .flexmaincontent {
    flex: 1 1 auto;
    order: 1;
  }
  /* display feed items on the right*/
  .flexfeedcontainer {
    flex: 1 1 auto;
    order: 2;
  }
}

/* IE10+ CSS styles go here */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .flexcontainer {
    display: table;
    flex:none;
    width: 70em;
  }
  .flexfeedcontainer {
    display: table-cell;
    flex:none;
  }
  .flexmaincontent {
    display: table-cell;
    flex:none;
  }
}


/* https://stackoverflow.com/questions/3839809/detect-iphone-ipad-purely-by-css#3839896 */
